altgraph==0.17.4
et_xmlfile==2.0.0
future==1.0.0
joblib==1.5.2
numpy==2.3.3
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
PuLP==3.3.0
pyDEA==1.6
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.2
scikit-learn-extra==0.3.0
scipy==1.16.2
setuptools==80.9.0
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
xlrd==2.0.2
xlwt-future==0.8.0
